{% extends 'base.twig' %}


{% block content %}

  <div class="landing-page">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <p>Some awesome content for the landing page</p>
      </div>
    </div>
  </div>

{% endblock %}


