{% if not logged %}
  <a href="/login"><button class="login">Login</button></a>
{% endif %}

{% if loggedin %}
  <ul class="user-menu">
    <li class="dropdown pull-right">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg>{{ username }} <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="/user/profile"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Profile</a></li>
        <li><a href="/logout"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
      </ul>
    </li>
  </ul>
{% elseif logged %}
  <a href="/dashboard"><button class="login">Go to App</button></a>
{% endif %}


