
.register {
  margin-top: 10px;
}

.register p {
  margin-bottom: 0;
}

.form-control.pass::-webkit-input-placeholder {
  color: #E8E6E6;
}

button.login {
  color: white;
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
}

.landing-page p {
  font-size: 24px;
  text-align: center;
  margin-top: 100px;
}

.login-panel {
  margin-top: 50px;
}

.button-back {
  margin-bottom: 20px;
}

.login-alert {
  margin-top: 50px;
  margin-bottom: -30px;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th,
.table-hover > tbody > a:hover{
  background-color: #e1e1e1;
  text-decoration: none;

}

.group {
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.group.back { background-color: #8ad919; }
.group.chest { background-color: #5cb85c; }
.group.shoulders { background-color: #5bc0de; }
.group.abs { background-color: #f0ad4e; }
.group.biceps { background-color: #d9534f; }
.group.triceps { background-color: #428bca; }
.group.legs { background-color: #d9edf7; }


.exercise-image {
  max-width: 400px;
  margin: 0 auto;
}

.description-container .title {
  margin-bottom: 10px;
  font-size: 25px;
}

.description-container .exercise-tags .title {
  margin-top: 20px;
  font-size: 20px;
}

.group {
  font-size: 16px;
}