<!DOCTYPE html>
<html>
  <head>
    <title>Create Workout</title>
    <!-- When developing *Remove*-->
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/datepicker3.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-table.css" rel="stylesheet">
    <link href="/assets/css/styles.css" rel="stylesheet">

    <!-- Production *Remove comments* -->
    <link rel="stylesheet" href="/assets/css/main.css">

  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><span>Create</span> Workout</a>

          {% include 'partials/isloggedin.twig' %}

        </div>

      </div>
    </nav>

    {% include 'partials/sidebar.twig' %}

    {% block content %}{% endblock %}

    <!--Icons-->
    <script src="/assets/js/lumino.glyphs.js"></script>
    <!--[if lt IE 9] -->

    <script src="/assets/js/jquery-1.11.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <!--<script src="/assets/js/chart.min.js"></script>
    <script src="/assets/js/chart-data.js"></script>
    <script src="/assets/js/easypiechart.js"></script>
    <script src="/assets/js/easypiechart-data.js"></script>
    <script src="/assets/js/bootstrap-datepicker.js"></script>-->
    <script src="/assets/js/bootstrap-table.js"></script>
    <script src="/assets/js/main.js"></script>
    <script>
      //$('#calendar').datepicker({});

      !function ($) {
        $(document).on("click","ul.nav li.parent > a > span.icon", function(){
          $(this).find('em:first').toggleClass("glyphicon-minus");
        });
        $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
      }(window.jQuery);

      $(window).on('resize', function () {
        if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
      })
      $(window).on('resize', function () {
        if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
      })
    </script>
  </body>
</html>
